@use "../../styles/colors" as *;

.appContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  margin-left: 280px;
  overflow-y: auto;
  background-color: get-theme-color("surface", "a0");
  transition: margin-left 0.3s ease;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.mainContent.collapsed {
  margin-left: 64px;
}
