@use "../../styles/colors" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: get-theme-color("text", "a10");
  line-height: 1.5;
}

.error {
  font-size: 0.875rem;
  color: get-theme-color("danger", "a10");
  line-height: 1.5;
}

.helperText {
  font-size: 0.875rem;
  color: get-theme-color("text", "a30");
  line-height: 1.5;
}
