@use "../../styles/colors" as *;

.container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.image {
  display: block;
  object-fit: cover;
}

.curtain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  visibility: visible;

  i {
    color: get-theme-color("primary", "a0");
  }
}

.curtainHidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
