@use "../../../styles/colors" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  color: get-theme-color("text", "a0");
}

.error {
  padding: 16px;
  background-color: get-theme-color("danger", "a20");
  color: get-theme-color("danger", "a0");
  border-radius: 4px;
  font-size: 14px;
}
