@use "../../styles/typography" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px 16px;
}

.title {
  @include pageTitle;
}

.rightSection {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
