---
name: Lint (backend)

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches:
      - main

concurrency:
  group: lint-backend-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Check for changes
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            src:
              - '.github/workflows/lint-backend.yaml'
              - 'pyproject.toml'
              - '**/*.py'

      - name: Set up Python
        if: >-
          steps.changes.outputs.src == 'true' ||
          startsWith(github.ref, 'refs/tags/v')
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        if: >-
          steps.changes.outputs.src == 'true' ||
          startsWith(github.ref, 'refs/tags/v')
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies (uv.lock)
        if: >-
          steps.changes.outputs.src == 'true' ||
          startsWith(github.ref, 'refs/tags/v')
        run: uv sync --locked --dev

      - name: Ruff (lint)
        if: >-
          steps.changes.outputs.src == 'true' ||
          startsWith(github.ref, 'refs/tags/v')
        uses: astral-sh/ruff-action@v3
        with:
          version: "0.14.10"
          args: check --output-format=github .

      - name: Ruff (format)
        if: >-
          steps.changes.outputs.src == 'true' ||
          startsWith(github.ref, 'refs/tags/v')
        uses: astral-sh/ruff-action@v3
        with:
          version: "0.14.10"
          args: format --check .

      - name: Type-check (ty)
        if: >-
          steps.changes.outputs.src == 'true' ||
          startsWith(github.ref, 'refs/tags/v')
        run: uv run --frozen ty check
